  
@font-face {
  font-family: 'Quicksand_Book';
  src: local('Quicksand_Book'),
       url('../fonts/Quicksand_Book.otf') format("opentype");
  
}

body {
  font-family: 'Quicksand_Book', Fallback, sans-serif;
  font-size: 1.3rem;
}
