  
@font-face {
  font-family: 'Quicksand_Book';
  src: local('Quicksand_Book'),
       url('../fonts/Quicksand_Book.otf') format("opentype");
  
}

body {
  font-family: 'Quicksand_Book', Fallback, sans-serif;
  font-size: 1.3rem;
}

#call_link{
  text-decoration: none;
  color:black;
  font-weight: 600;
}

#call_to_action{
  position:fixed;
  bottom: 80px;
  right: 20px;
  background:white;
}

.boldest{
  font-weight: 900;
}