{% extends "website/base.html" %}
{% load static %}

{% block content %} 

<div class="d-flex flex-column justify-content-around" style=" min-height:90vh">
    <!-- CAROUSEL -->
    <section id="carousel" class="carousel slide carousel-dark m-3 px-3" data-bs-ride="carousel">
        
        <div class="carousel-inner" style="width:100%; height:100%;">

            <!-- FIRST IMAGE -->
            <div class="carousel-item active " style="width:100%; height:40vh;" data-bs-interval="4000">
                <img src="{{ first_image.img.url }}" class="d-block w-100 " style="width:100%; height:100%; object-fit:contain">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ first_image.header }}</h5>
                    <p>{{ first_image.description }}</p>
                </div>
            </div>

            <!-- REST OF THE IMAGES -->
            {% for image in images %}

            <div class="carousel-item " style="width:100%; height:40vh;" data-bs-interval="4000">
                <img src="{{ image.img.url }}" class="d-block w-100 "  style="width:100%; height:100%; object-fit:contain">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ image.header }}</h5>
                    <p>{{ image.description }}</p>
                </div>
            </div>

            {% endfor %}

            <!-- INDICATORS OF THE CAROUSEL -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                
                {% for i in num_of_images %}
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{i}}" ></button>
                {% endfor %}

            </div>

        </div>

    </section>


    <div class="d-flex flex-column flex-md-row justify-content-around text-center">
        <!-- LOCATION -->
        <div class="d-flex flex-column m-auto mt-3">
            <h6> INDIRIZZO  </h6>
            <span> Via del Molino, 87 </span>
            <span> 50041 Calenzano FIRENZE</span>
        </div>
        <!-- END - LOCATION -->

        <!-- CONTACTS -->
        <div class="d-flex flex-column m-auto mt-3">
            <h6> CONTATTI  </h6>
            <span> {{ contacts.phone }} </span>
            <span> {{ contacts.mail }} </span>
        </div>
        <!-- END - CONTACTS -->

        <!-- OPENING HOURS -->
        <div class="d-flex flex-column m-auto mt-3">
            <h6> ORARI D'APERTURA  </h6>
            <span> LUN - VEN | {{opening_hours.weekdays}} </span>
            <span> SAB - DOM | {{opening_hours.weekend}} </span>
            <span> CHIUSI IL : {{opening_hours.closing_day}} </span>
        </div>
        <!-- END - OPENING HOURS -->
    </div>
</div>
{% endblock %}