{% extends "website/base.html" %}
{% load static %}
{% load staticfiles %}
{% block content %} 

<div class="d-flex flex-column justify-content-around" style="min-height:90vh">
    <!-- CAROUSEL -->
    <section id="carousel" style="width:100%; height:50vh;" class="carousel slide carousel-light px-3" data-bs-ride="carousel">
        
        <div class="carousel-inner"><!-- style="width:100%; height:50vh;">-->

            <!-- FIRST IMAGE -->
            <div class="carousel-item active" data-bs-interval="4000">
                <div class="d-flex justify-content-center align-items-center" >
                    <img src="{% static first_image.img.url %}" style="width:100%; height:50vh; object-fit:contain">
                </div>
                <div class="carousel-caption d-none d-md-block text-dark">
                    <h5>{{ first_image.header }}</h5>
                    <p>{{ first_image.description }}</p>
                </div>
            </div>
            

            <!-- REST OF THE IMAGES -->
            {% for image in images %}

            <div class="carousel-item" data-bs-interval="4000">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{% static image.img.url %}"   style="width:100%; height:50vh; object-fit:contain">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ image.header }}</h5>
                    <p>{{ image.description }}</p>
                </div>
            </div>

            {% endfor %}

            <!-- INDICATORS OF THE CAROUSEL -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                
                {% for i in num_of_images %}
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{i}}" ></button>
                {% endfor %}

            </div>

        </div>

    </section>


    <div style="width:100%; " class="d-flex flex-column flex-md-row justify-content-around text-center">
        <!-- LOCATION -->
        <div class="m-auto col-md-4">
            <h6 class="boldest"> INDIRIZZO  </h6>
            <p> Via del Molino, 87 </p>
            <p> 50041 Calenzano FIRENZE</p>
        </div>
        <!-- END - LOCATION -->

        <!-- CONTACTS -->
        <div class="m-auto col-md-4">
            <h6 class="boldest"> CONTATTI  </h6>
            <p> {{ contacts.phone }} </p>
            <p> {{ contacts.mail }} </p>
        </div>
        <!-- END - CONTACTS -->

        <!-- OPENING HOURS -->
        <div class="m-auto col-md-4">
            <h6 class="boldest"> ORARI D'APERTURA  </h6>
            <p> LUN - VEN | {{opening_hours.weekdays}} </p>
            <p> SAB - DOM | {{opening_hours.weekend}} </p>
            <p> CHIUSO {{opening_hours.closing_day}} </p>
        </div>
        <!-- END - OPENING HOURS -->
    </div>
</div>
{% endblock %}