{% extends "website/base.html" %}
{% load static %}

{% block content %} 
<h2 class="text-center fs-1 mx-auto p-4"> Menù del pranzo </h2>

<p class="m-auto p-3 text-center fs-6"> Per il servizio del pranzo, oltre al menù alla carta, proponiamo anche dei piatti più semplici che sono ordinabili con la formula a prezzo fisso.</p>
<ul class="list-group list-group-flush m-3 ">
    <li class="list-group-item d-flex justify-content-around m-3"> {{ opzione1 }} </li>
    <li class="list-group-item d-flex justify-content-around m-3"> {{ opzione2 }} </li>
</ul>

<ul class="list-group list-group-flush m-3 ">
    <li class="list-group-item d-flex justify-content-around m-3">
        <span class="col-6"> insalata</span> 
        <span class="col-3 text-end"> 8-10 €</span> 
    </li>
    <li class="list-group-item d-flex justify-content-around m-3">
        <span class="col-6">tagliere</span> 
        <span class="col-3 text-end">8-10 €</span> 
    </li>
    <li class="list-group-item d-flex justify-content-around m-3">
        <span class="col-6">antipasto</span> 
        <span class="col-3 text-end">7-12 €</span> 
    </li>
    <li class="list-group-item d-flex justify-content-around m-3">
        <span class="col-6">pasta</span> 
        <span class="col-3 text-end">10-12 € </span>
    </li>
    <li class="list-group-item d-flex justify-content-around m-3">
        <span class="col-6">zuppa</span> 
        <span class="col-3 text-end">8-10 €</span> 
    </li>
    <li class="list-group-item d-flex justify-content-around m-3">
        <span class="col-6">secondo carne/pesce</span> 
        <span class="col-3 text-end">12-14 €</span> 
    </li>
    <li class="list-group-item d-flex justify-content-around m-3">
        <span class="col-6">secondo vegetariano</span> 
        <span class="col-3 text-end">10-13 €</span> 
    </li>
    <li class="list-group-item d-flex justify-content-around m-3">
        <span class="col-6">dolci</span> 
        <span class="col-3 text-end">4-7€</span> 
    </li>
</ul>


<div id="call_to_action" class="btn btn-outline-dark"  >
    <a id="call_link" href="tel:+39{{ phone }}">Chiama ora</a>
</div>

{% endblock %}