{% extends "website/base.html" %}
{% load static %}

{% block content %} <!-- container mx-auto d-flex flex-column -->
<h2 class="text-center fs-1 mx-auto p-4"> La nostra lista dei vini </h2>
<div class="flex-row d-flex justify-content-around fw-lighter  m-3">
        <span class="col-3 text-center"> nome </span> <!-- name -->
        <span class="col-3 d-none d-md-block text-center"> cantina </span> <!-- cellar -->
        <span class="col-3 text-center"> anno </span> <!-- year -->
        <span class="col-3 d-none d-sm-block text-center"> prezzo € </span> <!-- price_to_public -->
</div>

<ul class="list-group list-group-flush m-3 ">

{% for wine in wines %}
    <li class="list-group-item d-flex justify-content-around m-3">
        <span class="col-3"> {{ wine.name }} </span> <!-- name -->
        <span class="col-3 d-none d-md-block"> {{ wine.cellar }} </span> <!-- cellar -->
        <span class="col-3 text-center"> {{ wine.year }} </span> <!-- year -->
        <span class="col-3 d-none d-sm-block text-end"> {{ wine.price_to_public }} </span> <!-- price_to_public -->
    </li>
{% endfor %}

</ul>
{% endblock %}