{% extends "website/base.html" %}
{% load static %}

{% block content %} 

    <div class="container ">
        <div class="card mx-auto w-80 my-2" >
            <div class="card-header">
                Rossi
            </div>
            <ul class="list-group list-group-flush">
            {% for wine in reds %}
                <li class="list-group-item d-flex flex-row justify-content-around">
                    <span class="">{{ wine.name }}</span>
                    <span class="">{{ wine.producer }}</span>
                    <span class="">{{ wine.grapes }}</span>
                    <span class="">{{ wine.year }}</span>
                    <span class="">{{ wine.zone }}</span>
                    <span class="ms-auto">{{ wine.price }}</span>
                    
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container ">
        <div class="card mx-auto w-80 my-2" >
            <div class="card-header">
                Bollicine
            </div>
            <ul class="list-group list-group-flush">
            {% for wine in bubbles %}
                <li class="list-group-item d-flex flex-row">
                    <span class="">{{ wine.name }}</span>
                    <span class="">{{ wine.producer }}</span>
                    <span class="">{{ wine.grapes }}</span>
                    <span class="">{{ wine.year }}</span>
                    <span class="">{{ wine.zone }}</span>
                    <span class="">{{ wine.price }}</span>
                    
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container ">
        <div class="card mx-auto w-80 my-2" >
            <div class="card-header">
                Bianchi
            </div>
            <ul class="list-group list-group-flush">
            {% for wine in whites %}
                <li class="list-group-item d-flex flex-row">
                    <span class="">{{ wine.name }}</span>
                    <span class="">{{ wine.producer }}</span>
                    <span class="">{{ wine.grapes }}</span>
                    <span class="">{{ wine.year }}</span>
                    <span class="">{{ wine.zone }}</span>
                    <span class="">{{ wine.price }}</span>
                    
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container ">
        <div class="card mx-auto w-80 my-2" >
            <div class="card-header">
                Rosé
            </div>
            <ul class="list-group list-group-flush">
            {% for wine in roses %}
                <li class="list-group-item d-flex flex-row">
                    <span class="">{{ wine.name }}</span>
                    <span class="">{{ wine.producer }}</span>
                    <span class="">{{ wine.grapes }}</span>
                    <span class="">{{ wine.year }}</span>
                    <span class="">{{ wine.zone }}</span>
                    <span class="">{{ wine.price }}</span>
                    
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container ">
        <div class="card mx-auto w-80 my-2" >
            <div class="card-header">
                Vini Dolci
            </div>
            <ul class="list-group list-group-flush">
            {% for wine in sweets %}
                <li class="list-group-item d-flex flex-row">
                    <span class="">{{ wine.name }}</span>
                    <span class="">{{ wine.producer }}</span>
                    <span class="">{{ wine.grapes }}</span>
                    <span class="">{{ wine.year }}</span>
                    <span class="">{{ wine.zone }}</span>
                    <span class="">{{ wine.price }}</span>
                    
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}